:root{
    --border-radius: 0.350rem;
    --box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0, 0.06);
}

html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body{
    --color-bg: #fafafa;
    --color-bg-secondary: #ffffff;
    --color-blue: #4973ff;
    --color-text: #000000;
    font-family: 'Nunito Sans', sans-serif;
    color: var(--color-text);
    background-color: var(--color-bg);
}

body.dark-mode{
    --color-bg: #202D36;
    --color-bg-secondary: #2B3743;
    --color-text:#ffffff;
}

.container{
    margin: 0 auto;
    width: 80%;
}

.img-fluid{
    width: 100%;
}

/* navbar......................... */

.navbar{
    background-color: var(--color-bg-secondary);
    box-shadow: var(--box-shadow);
}

.navbar__content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-dark-mode{
    background-color: var(--color-bg-secundary);
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    color: var(--color-text);
}

.btn-dark-mode:hover{
    opacity: 0.6;
}
/* espaciados...... */

.my-2{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* filtros............ */

.filter-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form-search{
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--color-bg-secondary);
    padding: 1rem;
}

.form-search i{
    opacity: 0.5;
}

.form-search input{
    border: none;
    outline: none;
    margin-left: 1rem;
    background-color: var(--color-bg-secondary);
    color: var(--color-text);
}

/* main ...... */

.grid{
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 2rem;
}

.card{
    background-color: var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.card img{
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.cards-content{
    padding: 2rem;
}

.cards-content h3{
    margin-bottom: 2rem;
}

/* button info.. */

.info-container{
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container a{
    position: relative;
    width: 300px;
    height: 75px;
    margin: 10px 0;
    font-size: 17px;
    color: var(--color-text);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    transition: 0.5s;
}

.info-container a:hover{
    color: #fff;
}

.info-container a:before{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    width: 0;
    height: 70%;
    background: url(../images/btn-bg2.png);
    background-size: cover;
    transform-origin: left;
    transition: 0.5s;
}

.info-container a:hover:before{
    width: 100%;
}

.info-container a span{
    position: relative;
    z-index: 1;
}


/* medias ..........*/

@media (max-width: 1000px){
    .grid{
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}

@media (max-width: 750px){
    .grid{
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }
}

@media (max-width: 600px){
    .navbar__content{
        font-size: 0.8rem;
    }

    .filter-content{
        flex-direction: column;
        align-items: flex-start;
    }

    .grid{
        grid-template-columns: repeat(1, minmax(0, 1fr));
    }


}